parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toBeTrue\\(\\)\\.$#"
			count: 1
			path: src/Expectations.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 2
			path: src/Expectations.php

